body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background: #000000;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto img {
    max-width: 200px; 
    height: 150px;
    margin-bottom: 10px;
}




