body {
    background: #000000;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #fff;
}

th {
    background-color: #8527ff;
}

/* Estilos para los botones */
a.button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #8527ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a.button:hover {
    background-color: #0056b3;
}

/* Estilos para el enlace "Agregar Usuario" */
a.add-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8527ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a.add-button:hover {
    background-color: #1900ff;
}


::selection {
    background-color: rgb(238, 255, 0);
    color: rgb(81, 0, 255);
}
